<!-- <div class="d-sm-block">
        <img class="logo shadow-sm  bg-white rounded"src="../assets/img/thebs_logo.png" alt="">
    </div> -->
<nav class="navbar navbar-expand-md  navbar-light bg-light navbar-light-color shadow-sm">

  <button class="navbar-toggler animatedBtn" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon icon-bar"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <div class="content-div">
      <ul class="navbar-nav content-nav text-center">
        <li class="nav-item ml-5">
          <a [routerLink]="['/Home']" [routerLinkActive]="['active']"class="nav-link text-white " href="#">HOME
            <span class="sr-only"> </span>
          </a>
        </li>
        <li class="nav-item">
          <a   class="nav-link dropdown-toggle  text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Categories</a>
          <div class="dropdown-menu " aria-labelledby="navbarDropdown">
            <a (click)="redirect()"class="dropdown-item ">Adventure</a>
            <a (click)="redirect()"class="dropdown-item "> Childrens</a>
            <a (click)="redirect()"class="dropdown-item ">Crime</a>
            <a (click)="redirect()"class="dropdown-item ">General Fiction</a>
            <a (click)="redirect()"class="dropdown-item ">Historical Fiction</a>
            <a (click)="redirect()"class="dropdown-item ">Horror</a>
            <a (click)="redirect()"class="dropdown-item ">Illustrated</a>
            <a (click)="redirect()"class="dropdown-item ">Non-Fiction</a>
            <a (click)="redirect()"class="dropdown-item ">Parody</a>
            <a (click)="redirect()"class="dropdown-item ">Poetry</a>
            <a (click)="redirect()"class="dropdown-item ">Sci-Fi &amp; Fantasy</a>
          </div>
        </li>
        <li class="nav-item active ml-5">
          <a [routerLink]="['/ToBuy']" [routerLinkActive]="['active']"class="nav-link text-white" href="#">
            <span class="sr-only">(current)</span>TO BUY</a>
        </li>
        <li class="nav-item active ml-5">
          <a [routerLink]="['/Contact']" [routerLinkActive]="['active']"class="nav-link text-white" href="#">
            <span class="sr-only">(current)</span>Contact</a>
        </li>
      </ul>
    </div>
  </div>
  <div  *ngIf = "login; else noLogin" >
    <h5 class = "Login "> Hi! Marina</h5>
    <button (click) = "unsetLogin()"type="button" class="btn btn-outline-primary btn-rounded waves-effect">
      Log Out
    </button>
  </div>
  
  <ng-template #noLogin>
      <button (click) = "setLogin()"type="button" class="btn btn-outline-primary btn-rounded waves-effect">
        Log In
      </button>
  </ng-template>

  <li class="nav-item icon-Header-li ml-5">
      <a  [routerLink]="['/ShopingCart']" href=""><i class="fas mr-sm-2 fa-shopping-cart icon-Header "></i></a>
  </li>
   <!-- Search form -->
  <form class="form-inline waves-light" mdbWavesEffect>
    <div class="md-form mt-0">
      <input class="form-control " type="text" placeholder="Search">
    </div>
  </form>

  <!-- Collapsible content -->
  <!-- End icons -->
</nav>
<!--Navbar-->
