<!-- Footer -->

<div class=" pre_footer text-right py-3">
  <strong class="ml-4 mr-2"> Follow Us: </strong>
  <a href="">
    <i class="fab fa-instagram  icon-Prefooter mr-1"></i>
  </a>
  <a href="">
    <i class="fab fa-facebook icon-Prefooter "></i>
  </a>
  <strong class="ml-4 mr-2"> Contact: </strong>
  <a href="">
    <i class="far fa-envelope icon-Prefooter"></i>
  </a>
</div>
<!-- Social Media -->
<!-- Copyright -->
<div class=" footer text-center py-3">
  © 2018
  <strong class="">Made With
    <i class="fa fa-heart" aria-hidden="true"></i> -
    <a target="_blank" href="https://github.com/Minacava">Marina Camacho</a>
  </strong>
</div>
<!-- Copyright -->
<!-- Footer -->
