strong{
    font-weight: lighter!important;
    color:white!important;
    font-size: 0.9em;
}

.footer {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #0d47a1 !important;
    text-align: center;
    position: fixed;
    color:white!important;
    font-weight: lighter!important;
    font-size: 0.7em;

  }
.pre_footer {
    background-color:#FBD160;
    bottom: 55px;
    position: fixed;
    width: 100%;
    margin:0;
    padding-right: 5%;
}
.icon-Prefooter{
    color:white;
    font-size: 1em;
   
}

a[target=_blank] { 
    color: #e4ecf6; 
} 