<body [style.backgroundSize]="'cover'">

<!-- Default form contact -->
<div id = "formCustomized">


  <form (ngSubmit)="onSubmit()" #heroForm="ngForm">

    <h1>Contact Us!</h1>
  
    <input placeholder="Name" type="text"  value="" required>
  
    <input placeholder="Email address" type="email"  value="" required>
  
    <input placeholder="Location" type="text" value="" required>
    
    <div class="flex">
      <textarea placeholder="Message" rows="1" required></textarea>
    </div>
  <button>Send</button>
  
  </form>
  <!-- Default form contact -->
</div>
</body>


