
<!-- Start main index content -->
<div class="container page-main-color">
    <div class="row">
        <!-- Filter -->
          <div class="col-3 filter">
              <div class="col">
                  <h5>FILTERS</h5>    
                    <div class="md-form mt-0">
                     <app-search></app-search>
                    </div>
                  </div>          
         <!-- End Filter -->
          </div>
          <div class="col-9" >
              <div class="container book-list-container flex "  >
                  <div class="row " >
                        <div class="card col-md-3 m-2 " *ngFor = "let users of user" >
                          <div class="view">
                            <img src="{{users.image}}" class="card-img-top" alt="photo">
                            <a href="#">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                          </div>     
                                    <div class="card-block mb-2">
                                      <h5>{{users.title}}</h5>
                                      <p id="custom-size">{{users.description}}</p>                      
                                    </div>
                                    <p class="custom-price mt-5">${{users.price}}</p>
                                    <button type="button" class="btn btn-books btn-sm btn-outline-dark waves-effect flex text-center px-3"><i class="fa fa-search" aria-hidden="true"></i></button> 
                                   
                          </div>
                          <div class="contanier-bot"></div>
                  </div>
                <!--End Book-section -->
            </div>
         </div>
   </div>
</div>
