<!-- Start main index content -->
<div class="container page-main-color">
    <div class="row">
        <!-- Filter -->
          <div class="col-3 filter">
              <div class="col">
                  <h5>FILTERS</h5>
                  <form>
                    Author Name:<br>
                    <input type="text" name="AuthorName">
                    <button type="button" class="btn btn-outline-warning waves-effect px-3"><i class="fa fa-search" aria-hidden="true"></i></button>
                  </form>
                  <div >
                      <h6>Categories</h6>   
                      <ul class="filter-links">
                        <li><a href="#">Adventure</a></li>
                        <li><a href="#"> Childrens</a></li>
                        <li> <a href="#">Crime</a></li>
                        <li><a href="#">General Fiction</a></li>
                        <li> <a href="#">Horror</a></li>
                        <li> <a href="#">Illustrated</a></li>
                        <li><a href="#">Non-Fiction</a></li>
                        <li><a href="#">Parody</a></li>
                        <li> <a href="#">Poetry</a></li>
                        <li><a href="#">Sci-Fi &amp; Fantasy</a></li>
                      </ul>
                  </div>     
                  </div>          
         <!-- End Filter -->
          </div>
          <div class="col-9 ">
              <div class="container book-list-container mt-5 ">
                  <div class="row">
                        <div class="card col-sm-4 p-0 ">
                            <img class="card-img-top img-fluid " src=""alt="Card image cap">
                            <div class="card-block">
                              <h5></h5>
                              <p></p>
                            </div>
                            <button type="button" class="btn btn-light mb-0"></button>
                          </div>
                  </div>
                <!--End Book-section -->
            </div>
         </div>
   </div>
</div>
