
<!-- Start main index content -->
<div class="container page-main-color">
    <div class="row">
        <!-- Filter -->
          <div class="col-3 filter">
              <div class="col">
                  <h5>FILTERS</h5>
                  <form class="form-inline waves-light" mdbWavesEffect>
                    <div class="md-form mt-0">
                      <input class="form-control " type="text" placeholder="Search">
                      <button type="button" class="btn  btn-sm btn-outline-warning waves-effect px-3"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                  </form>
                
                  
                  <!-- <div >
                      <h6>Categories</h6>   
                      <ul class="filter-links">
                        <li><a href="#">Adventure</a></li>
                        <li><a href="#"> Childrens</a></li>
                        <li> <a href="#">Crime</a></li>
                        <li><a href="#">General Fiction</a></li>
                        <li> <a href="#">Horror</a></li>
                        <li> <a href="#">Illustrated</a></li>
                        <li><a href="#">Non-Fiction</a></li>
                        <li><a href="#">Parody</a></li>
                        <li> <a href="#">Poetry</a></li>
                        <li><a href="#">Sci-Fi &amp; Fantasy</a></li>
                      </ul>
                  </div>      -->
                  </div>          
         <!-- End Filter -->
          </div>
          <div class="col-9" >
              <div class="container book-list-container flex "  >
                  <div class="row " >
                        <div class="card col-md-3 m-2 " *ngFor = "let users of user" >
                            <div *ngFor = "let bookpic of BookPicture">
                                    <img class="" src="{{bookpic.pic}}"alt="Card image cap">
                            </div>
                                    
                                    <div class="card-block">
                                      <h5>{{users.title}}</h5>
                                      <p id="custom-size">{{users.description}}</p>
                                    </div>
                                    <button type="button" class="btn btn-sm btn-outline-dark waves-effect flex text-center px-3"><i class="fa fa-search" aria-hidden="true"></i></button> 
                                   
                            </div>
                  </div>
                <!--End Book-section -->
            </div>
         </div>
   </div>
</div>
